/* Mirasımız  */
.section-yason h3{
    font-size: 5rem;
    color: #212529;
}
.section-yason h5{
    font-size: 2rem;
    color: #09a3be;
}
.section-yason-bg p{
    font-size: 2rem;
    font-weight: bold;
    color: #636464;
}
.section-yason-bg{
    background: url("../images/yason-00.jpg") center center no-repeat;
    background-size: cover;
    height: 60vh;
    padding:20px;
    text-align: end;
}
.yason-bilgi{
    background-color: #F5F4EB;
    padding:30px ;
    margin-bottom: 1.5rem;
}
.yason-bilgi p{
    font-weight: bold;
    line-height: 1.şşş8rem;
}
.row .figure img{
    max-height: 350px !important;
}

.cizgi{
    border: 2px solid black;
    max-width: 300px;
    margin-right:auto;
    margin:40px auto;
}

.icon{
    position: relative;
    font-size: 40px;
    top: -70px;
    background-color:white ;
    padding:10px;
}
