/* NAVBAR*/

nav {
	margin: 27px auto 0;
 
	position: relative;
	width: 800px;
	height: 50px;
	background-color: #34495e;
	
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 110px;
}
a:nth-child(5) {
	width: 160px;
}
a:nth-child(6) {
	width: 110px;
}
a:nth-child(7) {
	width: 110px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #800000;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: orange;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: rgb(196, 196, 62);
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 110px;
	left: 310px;
	background-color: rgb(50, 161, 50);
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 160px;
	left: 420px;
	background-color: rgb(89, 89, 179);
}
nav .start-portefolio, a:nth-child(6):hover~.animation {
	width: 110px;
	left: 580px;
	background-color: navy;
}
nav .start-contact, a:nth-child(7):hover~.animation {
	width: 110px;
	left: 690px;
	background-color: #9b59b6;
}
a:link{
    text-decoration: none;
}
a:visited{
    color: white;
}
body {
	font-size: 12px;
	font-family: sans-serif;
	background: #dcdde1;
}

/* FOOTER*/

.footer{
    height:auto;
    background-color: rgb(34, 34, 34);
    color:#F5F4EB;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.footer-text{
    font-size: 1.2rem;
}
.footer a{
    list-style-type: none;
    color: #F5F4EB;
    margin-right: 15px;
}

/*Ozgecmis*/
.ozgecmis{
    display: flex;
    flex-direction: row;
}
.ozgecmis-color{
    color: rgb(6, 4, 126);
}
.left-nav{
    background-color: rgb(6, 4, 126);
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ana-icerik{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cv-img{
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 100px;
}
#iletisim{
    display: flex;
    flex-direction: column;
    
}
#iletisim a{
    color: #F5F4EB;
    margin-bottom: 10px;
}
.ana-icerik ul{
    list-style-type: none;
    font-weight: bold;
}
.diller{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.diller i{
    margin: 10px;
    color: rgb(6, 4, 126);
    font-size: 5rem;
}